:root {
  --main-color: rgb(244, 190, 247);
}

.update-form {
  display: flex;
  background-color: var(--main-color);
  box-shadow: -5px 5px 5px gray;
  border: solid 2px black;
  padding: 2rem;
  margin: 3px;
  width: 300px;
  text-align: center
}


.update-form h3,
.update-form label {
  text-align: center;
  color: white
}

.card {
  display: flex;
  box-shadow: -5px 5px 5px gray;
  border: solid 2px black;
  padding: 2rem;
  margin: 3px;
  width: 300px;
  text-align: center
}

.card p {
  color: white;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

